@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Outfit:wght@100..900&family=Playwrite+HU:wght@100..400&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

* {
  font-family: "Outfit", sans-serif;
}